# ======================================================================================================================
# Common file formats
# ======================================================================================================================
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.tgz
*.swp
*.orig

# ======================================================================================================================
# Temporary folders
# ======================================================================================================================
pids
logs
results
tmp
lib-cov

# ======================================================================================================================
# Yarn stuff
# ======================================================================================================================
node_modules

## Yarn.lock file generated in sub-packages:
## Need to comment this out when https://github.com/yarnpkg/yarn/issues/5428 is resolved.
packages/**/**/yarn.lock

# Ignore npm lock file
package-lock.json

jspm_packages/

yarn_cache
.kube

# ======================================================================================================================
# Editors
# ======================================================================================================================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/*
!.idea/runConfigurations
!.idea/copyright
!.idea/apployees.iml

.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ======================================================================================================================
# OS stupidity
# ======================================================================================================================
.DS_Store
Thumbs.db

# ======================================================================================================================
# Builds
# ======================================================================================================================
dist
**/dist/**/*
*.build.output
*.tsbuildinfo
out-tsc
**/out-tsc/**/*

# Serverless directories
.build
.serverless

# Logs
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log

# ======================================================================================================================
# Script outputs
# ======================================================================================================================
# Vagrants temp files
packages/__devops/vagrant/**/.vagrant


# ======================================================================================================================
# Tests
# ======================================================================================================================
.jest
**/junit.xml
junit.xml
coverage
test-reports
**/__image_snapshots__/__diff_output__
__image_snapshots__/__diff_output__
.nyc_output

# ======================================================================================================================
# Runtime Secrets
# ======================================================================================================================
secrets
