# ======================================================================================================================
# Common file formats
# ======================================================================================================================
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.tgz
*.swp
*.orig
.vagrant

# ======================================================================================================================
# Temporary folders
# ======================================================================================================================
pids
logs
results
tmp
lib-cov

# ======================================================================================================================
# Yarn stuff
# ======================================================================================================================
node_modules

# Ignore npm lock file
package-lock.json

jspm_packages/

# ======================================================================================================================
# Editors
# ======================================================================================================================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/.idea
!.idea/runConfigurations
!.idea/copyright

.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# ======================================================================================================================
# OS stupidity
# ======================================================================================================================
.DS_Store
Thumbs.db

# ======================================================================================================================
# Builds
# ======================================================================================================================
**/dist/**/*
*.build.output
*.tsbuildinfo
/out-tsc

# Serverless directories
.build
.serverless

# Logs
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log

# ======================================================================================================================
# Tests
# ======================================================================================================================
## Let's not ignore .jest as it contains information for incremental unit testing
# **/.jest/**/*

**/junit.xml
coverage/
junit.xml
test-reports/
**/__image_snapshots__/__diff_output__/
.nyc_output

# ======================================================================================================================
# Runtime Secrets
# ======================================================================================================================
secrets
